@charset "utf-8";

/**
 * 投稿ステータス等
 */
#minor-publishing-actions,
#misc-publishing-actions {
	display: none;
}

/**
 * 更新時の記事リンク
 */
.post-php #message a {
	display: none;
}

/**
 * DB保存データのカスタムフィールド
 */
#uno-wp-form_custom_fields table,
#uno-wp-form_data_custom_fields table {
	font-size: 100%;
	border-top: #dfdfdf solid 1px;
	border-right: #dfdfdf solid 1px;
	width: 100%;
}
#uno-wp-form_custom_fields table th,
#uno-wp-form_custom_fields table td,
#uno-wp-form_data_custom_fields table th,
#uno-wp-form_data_custom_fields table td {
	border-bottom: #dfdfdf solid 1px;
	border-left: #dfdfdf solid 1px;
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
	width: 30%;
}
#uno-wp-form_custom_fields table td,
#uno-wp-form_data_custom_fields table td {
	background-color: #fff;
	width: 70%;
}
#uno-wp-form_data_custom_fields textarea {
	width: 100%;
}